ion-split-pane {
  --side-width: 125px;
  --side-max-width: 125px;
  --side-min-width: 125px;
}
ion-menu ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;

  margin-bottom: 30px;
  margin-top: 30px;

  text-align: center;
  font-size: 14px;
}
ion-menu ion-item ion-icon {
  font-size: 24px;
}
ion-header .desktop ion-toolbar {
  padding: 20px;
}
ion-header .desktop .logo {
  height: 50px;
  width: 150px;

  color: white;
  background: gray;

  text-align: center;
  line-height: 50px;
  float: left;
}
ion-header .desktop .search,
ion-header .desktop .account {
  float: right;
}
ion-header .desktop .search {
  margin-right: 20px;
  width: 250px;
}
.account ion-item {
  display: inline-block;
  text-align: left;
}
.account ion-icon[slot="end"] {
  margin-inline-start: 2px;

  font-size: 16px;
}
.account ion-icon[slot="start"] {
  margin-inline-end: 6px;
}
@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .desktop {
    display: none;
  }
}
.page {
  padding: 20px 0;
  width: 100%;
  &__alert {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.5px;
    margin-left: 5px;
  }
  &__card-document-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
  }
  &__card-documents-uploaded {
    display: flex;
    margin-top: 20px;

    &-name {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.5px;
      margin-left: 10px;
    }

    &-size {
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.5px;
      margin-left: 5px;
      margin-bottom: 5px;
    }

    &-date {
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.5px;
      margin-left: 30px;
    }
  }
  &__claim-title {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: 0.5px;
    padding: 30px 0 0 30px;
    margin-right: 14px;
  }
  &__cta {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.5px;
    text-decoration: underline;
    margin-left: -10px;
    margin-top: -10px;
    width: fit-content;
    text-transform: none;

    &.info {
      font-weight: normal;
      margin-top: 10px;
    }
  }
  &__documentation {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-top: 40px;
  }
  &__info {
    background: #ecfaff;
    height: 230px;
    width: 100%;
  }
  &__info-card {
    display: flex;
    margin: 0 110px 0 30px;
  }
  &__info-bottom {
    float: left;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
  }
  &__info-card-alerts {
    margin-bottom:15px;
  }
  &__info-card-cta {

    &-text {
      position: absolute;
      left: 20px;
    }

    &-icon {
      height: 24px;
      position: absolute;
      right: 0;
    }

    & ion-button {
      height: 50px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      letter-spacing: 0.5px;
      text-transform: none;
      margin-bottom: 20px;
    }
  }
  &__info-card-left {
    padding: 30px;
    width: 50%;

    &-alert {
      display: flex;
      margin-bottom: 20px;
    }
  }
  &__info-card-right {
    padding: 30px;
  }
  &__info-text {

    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: 0.5px;
    padding: 0;
    margin-left: 4px;
  }
  &__left-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    margin-left: 10px;
  }
  &__needs {
    width: 100%;
    background-image: linear-gradient(to bottom, #fff, #ecfaff);
    padding-bottom: 30px;
  }
  &__notification {
    box-shadow: none !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 40px;
    background: #ecfaff;
    margin: 30px 0 0 30px;
  }
  &__notification-info {
    margin-left: 30px;
  }
  &__notification-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.5px;
  }
  &__top {
    padding: 0 20px;
    display: flex;
  }
  &__top-left {
    width: 40%;
  }
  &__top-left-container {
    display: flex;
    align-items: center;
  }
  &__top-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.5px;
  }
  &__upload-card {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    margin: 0;

    &-cta {
      margin: 0;
    }
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
